.container {
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    height: 800px;
    width: 800px;
    place-self: center;
    border: 3px solid black;
}

.square {
    border: 0.4px solid rgb(225, 224, 224);
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.visited {
    background-color: black;
}