.container {
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    height: 800px;
    width: 800px;
    /*place-self: center; */
    border: 3px solid black;
    background-color: white;
}

.square {
    border: 0.4px solid rgb(225, 224, 224);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.visited {
    background-color: rgb(128, 120, 120);
}

h1 {
    font-size: 72px;
    font-weight: bold;
    color: white;
}

#reset {
    height: 50px;
    width: 300px;
    font-size: 36px;
}